*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text-lg-color: #eee;
  --bkg-dk-color: #121212;

  --text-dk-color: #222;
    --bkg-lg-color: #fff;
}
body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  text-align: center;
  margin: 1rem 0;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.container{
  max-width: 500px;
  min-height: 300px;
  margin: 30px auto;
  border: 1px solid steelblue;
  border-radius: 3px;
  overflow: auto;
  

}
.header{
  padding: 1rem;  
  margin-bottom: 2rem;
}
.btn{
  display: inline-block;
  padding: .7rem 1.4rem;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
}
.form-control{
  margin: 20px ;
  /* padding: 20px; */
}
.form-control label{
  display: block;
  margin-bottom: 5px;
}
.form-control input{
  width: 100%;
  padding: 7px 14px;
 font-size: 20px;
}
.contactlist{
  background-color: var(--bkg-lg-color);
  color:var(--text-dk-color);
  border-radius:  15px 15px 0 0 ;
  box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
  /* margin: 0 1rem; */
}
.contact{
 
  margin-bottom: 10px;
  cursor:pointer;
  padding: 10px;
  border-bottom: .5px solid rgb(0 0 0 / 11%);
}
ul{
  list-style: none;
}
.circle{
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 100%;
  
  margin: 40px auto;
}
.contact-detail{
  /* background-color: var(--bkg-dk-color); */
  padding: 1rem;
  margin: 0 1rem;

}
.plus-circle{
  width: 35px;
  height: 35px;
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}