*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text-lg-color: #eee;
  --bkg-dk-color: #121212;

  --text-dk-color: #222;
    --bkg-lg-color: #fff;
}
body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  text-align: center;
  margin: 1rem 0;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-margin{
  display: flex;
  align-items: center;
}
.user-icon{
  margin-right: 20px;
  font-size: 30px;
}

.container{
  max-width: 500px;
  min-height: 300px;
  margin: 30px auto;
  border: 1px solid steelblue;
  border-radius: 3px;
  /* overflow-y: scroll;
  scrollbar-width: thin; */
}

.header{
  padding: 1rem;  
  margin-bottom: 2rem;
}
.btn{
  display: inline-block;
  padding: .7rem 1.4rem;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
  font-size: .8rem;
}
.add-form, .edit-form{
  margin: 20px;
}
.add-form h1, .edit-form h1{
  margin-bottom: 20px;
}
.form-control{
  margin-bottom: 20px ;
}
.form-control label{
  display: block;
  margin-bottom: 5px;
}
.form-control input{
  width: 100%;
  padding: 7px 14px;
 font-size: 20px;

}
.contactlist{
  background-color: var(--bkg-lg-color);
  color:var(--text-dk-color);
  border-radius:  15px 15px 0 0 ;
  max-height: 500px;
  box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
  
  /* style container scrollbar */
  overflow-y: scroll;
  scrollbar-width: thin;
  
}
/* style container scrollbar */
.contactlist::-webkit-scrollbar {
  width: 12px;

}
.contactlist::-webkit-scrollbar-track{
  background-color: #e4e4e4;
}
.contactlist::-webkit-scrollbar-thumb{
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #8070d4;
  height: 10px;
 
}
/* end style container scrollbar */
.contact{
  margin-bottom: 10px;
  cursor:pointer;
  padding: 10px;
  border-bottom: .5px solid rgb(0 0 0 / 11%);
}
ul{
  list-style: none;
}
.circle{
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 100%;
  
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-detail{
  background-color: var(--bkg-lg-color);
  color:var(--text-dk-color);
  border-radius:  15px 15px 0 0 ;
  /* max-height: 500px; */
  box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
  padding: 1rem;
  margin: 2rem;

}
.plus-circle{
  width: 35px;
  height: 35px;
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.pop-up{
  width: 400px;
  height: 150px;
  background-color: var(--bkg-lg-color);
  color: #000;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1.5rem;
  position: absolute;
  border-radius: 4px;
  top: 20px;

}
.pop-up h3{
  margin-bottom: 20px;
  font-size: .9rem;
}
.popup-btns button:nth-child(1){
  margin-right: 20px;
}